body{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.card-collection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-collection .card{
  margin:10px 5px 10px 5px;
}

.standout{
  box-shadow: rgba(10, 172, 253, 0.16) 0px 1px 4px, rgb(12, 228, 252) 0px 0px 0px 3px;
}

h1,h2,h3,h4,h5,h6,p{
  color: #fff;
  text-align-last: center;
}

.Datetoday{
  color: rgb(12, 228, 252);
  text-transform: capitalize;
}

.class404 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card-body h5,h1,p{
  color: #fff;
}

.teamNameDiv .card{
  color: #212529;
}